beholder-node-red/data/flows.json
[
    {
        "id": "6a61b64910c046bc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0b70dd4da53f0867",
        "type": "mqtt-broker",
        "name": "",
        "broker": "beholder-nexus",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7d9c49c23c8e96bf",
        "type": "mqtt out",
        "z": "6a61b64910c046bc",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b70dd4da53f0867",
        "x": 1410,
        "y": 400,
        "wires": []
    },
    {
        "id": "2de5b8920a76b192",
        "type": "inject",
        "z": "6a61b64910c046bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "beholder/stalk/rsm-mbp-l2019/sendkeys",
        "payload": "{\"type\":\"com.dapr.event.sent\",\"topic\":\"beholder/ctaf\",\"pubsubname\":\"nexus\",\"specversion\":\"1.0\",\"data\":{\"keys\":\"asdf\"},\"datacontenttype\":\"application/json\"}",
        "payloadType": "json",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "7d9c49c23c8e96bf"
            ]
        ]
    },
    {
        "id": "ce68bc1669887eeb",
        "type": "mqtt in",
        "z": "6a61b64910c046bc",
        "name": "",
        "topic": "beholder/ctaf",
        "qos": "2",
        "datatype": "auto",
        "broker": "0b70dd4da53f0867",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "701d74bb8d94326d"
            ]
        ]
    },
    {
        "id": "701d74bb8d94326d",
        "type": "debug",
        "z": "6a61b64910c046bc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "7eff91a5150f2ac5",
        "type": "http request",
        "z": "6a61b64910c046bc",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3500/v1.0/publish/nexus/beholder/stalk/rsm-mbp-l2019/sendkeys",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d9357588238da7e8",
        "type": "inject",
        "z": "6a61b64910c046bc",
        "name": "",
        "props": [
            {
                "p": "headers",
                "v": "{}",
                "vt": "json"
            },
            {
                "p": "headers[\"Content-Type\"]",
                "v": "application/json",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"keys\":\"Asdf\"}",
        "payloadType": "json",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "7eff91a5150f2ac5"
            ]
        ]
    },
    {
        "id": "c0c6edf21f83149a",
        "type": "mqtt in",
        "z": "6a61b64910c046bc",
        "name": "",
        "topic": "beholder/stalk/rsm-mbp-l2019/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "0b70dd4da53f0867",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "ec0798c50e445d70"
            ]
        ]
    },
    {
        "id": "ec0798c50e445d70",
        "type": "debug",
        "z": "6a61b64910c046bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "ea8fcf194f1f3033",
        "type": "http request",
        "z": "6a61b64910c046bc",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:3500/v1.0/publish/nexus/beholder/stalk/rsm-mbp-l2019/sendkeysreset",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1fb2ba4d566511b3",
        "type": "inject",
        "z": "6a61b64910c046bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 560,
        "y": 580,
        "wires": [
            [
                "ea8fcf194f1f3033"
            ]
        ]
    }
]